# Add values to .envrc.secrets
export POSTGRES_USER
export POSTGRES_PASSWORD
export PRIMARY_EMAIL
export PRIMARY_PASSWORD
export SUPER_SECRET

if [ ! -f .envrc.secrets ]; then
  touch .envrc.secrets
fi

source .envrc.secrets
